In [1]:
# packages
import pandas

In [2]:
# constants
path_to_data = 'D:\sectra\data\DGC'
#important_col_indexes = [3, 6, 7, 8]
#important_col_names = ['Time_PC', 
#                       'SessionServiceProvider', 
#                       'StationLocation', 
#                       'Ident_PC']

In [12]:
# load files
file_1 = pandas.read_csv(path_to_data + '\sample\PM_PC_Autoestrade_v_4-1.txt', 
                         header = None, delimiter = ';', 
                         skiprows = [0]) 
                         #names = important_col_names, 
                         #usecols = important_col_indexes)

In [20]:
# file exploration
file_1.head()

,0,1,2,3,4,5,6,7,8,9,...,86,87,88,89,90,91,92,93,94,95
0,0500,1000000,NaN,5b25a48800000160,000000000000000fe40b,NaN,724001,139,13902,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b34207bdcc9761a30001
1,0500,1000000,NaN,5b25a5b000000082,000000000000000fe40c,NaN,724001,139,13902,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6717747535ea73770001
2,0900,1000000,NaN,5b25a5b200000319,000000000000000fe40d,NaN,724001,139,13902,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4d8d578dd82e328c0001
3,0500,1000000,NaN,5b25a5df000003bf,000000000000000fe40e,NaN,724001,139,13902,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f7cf7839230bdff80001
4,0500,1000000,NaN,5b25a630000000fd,000000000000000fe40f,NaN,724001,139,13902,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561182bb1cf412a90001

In [21]:
# file exploration
file_1.shape

(30, 96)

In [24]:
# column exploration
file_1.iloc[0:30,57:60]

                        57  58  59
0   064149454f333700000000 NaN NaN
1   0641414141393000000000 NaN NaN
2   0645454545373800000000 NaN NaN
3   0649494949353600000000 NaN NaN
4   064f4f4f4f333400000000 NaN NaN
5   0655555555313200000000 NaN NaN
6   064145494f393000000000 NaN NaN
7   0641414545383700000000 NaN NaN
8   0649494f4F353400000000 NaN NaN
9   0655554141333800000000 NaN NaN
10  0645454949373300000000 NaN NaN
11  064f4F5555393100000000 NaN NaN
12  0641413132333400000000 NaN NaN
13  0645453536373800000000 NaN NaN
14  0649493930313200000000 NaN NaN
15  064f4f3334353600000000 NaN NaN
16  0655553738393000000000 NaN NaN
17  0641453132333400000000 NaN NaN
18  06494f3536373800000000 NaN NaN
19  0655413930313200000000 NaN NaN
20  0645493031323300000000 NaN NaN
21  064f493132333400000000 NaN NaN
22  06554f4945323100000000 NaN NaN
23  0641554f45353700000000 NaN NaN
24  06554f4555343400000000 NaN NaN
25  064145494f373700000000 NaN NaN
26  064945414f363300000000 NaN NaN
27  0655453435323300000000 NaN NaN
28  0655553033363900000000 NaN NaN
29  0645553735333100000000 NaN NaN